<section class="bg-gray-100 text-gray-700 font-sans ">
    <div class="grid grid-cols-2  overflow-hidden">

        <!-- ===== HERO SIDE ===== -->
        <section class="flex flex-col justify-between p-8 text-white bg-cover bg-center"
            style="background-image: linear-gradient(rgba(20,71,230,0.85), rgba(20,71,230,0.85)), url(/imgi_13_signup-bg-DGRfriy9.png);">

            <header>
                <h1>
                    <a href="/" class="flex items-center gap-3 no-underline text-white">
                        <span
                            class="w-11 h-11 text-lg font-bold flex justify-center items-center bg-white/40 border border-white/30 rounded-xl">S</span>
                        <span class="text-2xl font-bold">SocialHub</span>
                    </a>
                </h1>
            </header>

            <div class="flex flex-col gap-4">

                <div>
                    <h2 class="text-6xl font-bold leading-tight  my-12.5">
                        Conncet width
                        <span
                            class="block pb-1 bg-gradient-to-r from-cyan-300 to-cyan-100 bg-clip-text text-transparent">
                            amazing people
                        </span>
                    </h2>
                    <p class="mt-2 text-sm opacity-90">Join millions of users sharing moments, ideas, and building <br>
                        meaningful connections every day</p>
                </div>

                <ul class="grid grid-cols-2 gap-3 list-none p-0 m-0">
                    <li
                        class="flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 hover:scale-105 transition-transform duration-200">
                        <div
                            class="w-9 h-9 flex justify-center items-center rounded-xl bg-teal-400/20 text-green-300 shrink-0">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div>
                            <h4 class="text-sm font-semibold">Real-time Chat</h4>
                            <span class="text-xs opacity-80">Instant messaging</span>
                        </div>
                    </li>
                    <li
                        class="flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 hover:scale-105 transition-transform duration-200">
                        <div
                            class="w-9 h-9 flex justify-center items-center rounded-xl bg-blue-400/20 text-blue-100 shrink-0">
                            <i class="fa-solid fa-image"></i>
                        </div>
                        <div>
                            <h4 class="text-sm font-semibold">Share Media</h4>
                            <span class="text-xs opacity-80">Photos &amp; videos</span>
                        </div>
                    </li>
                    <li
                        class="flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 hover:scale-105 transition-transform duration-200">
                        <div
                            class="w-9 h-9 flex justify-center items-center rounded-xl bg-pink-400/20 text-pink-100 shrink-0">
                            <i class="fa-solid fa-bell"></i>
                        </div>
                        <div>
                            <h4 class="text-sm font-semibold">Smart Alerts</h4>
                            <span class="text-xs opacity-80">Stay updated</span>
                        </div>
                    </li>
                    <li
                        class="flex items-center gap-2 bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl px-4 py-2 hover:scale-105 transition-transform duration-200">
                        <div
                            class="w-9 h-9 flex justify-center items-center rounded-xl bg-teal-400/20 text-green-300 shrink-0">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div>
                            <h4 class="text-sm font-semibold">Communities</h4>
                            <span class="text-xs opacity-80">Find your tribe</span>
                        </div>
                    </li>
                </ul>

                <ul class="flex items-center gap-6 list-none p-0 m-0">
                    <li>
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-users"></i>
                            <span class="text-xl font-bold">2M+</span>
                        </div>
                        <p class="text-xs opacity-85">Active Users</p>
                    </li>
                    <li>
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-heart"></i>
                            <span class="text-xl font-bold">10M+</span>
                        </div>
                        <p class="text-xs opacity-85">Posts Shared</p>
                    </li>
                    <li>
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-message"></i>
                            <span class="text-xl font-bold">50M+</span>
                        </div>
                        <p class="text-xs opacity-85">Messages Sent</p>
                    </li>
                </ul>

            </div>

            <div
                class="bg-white/20 border border-white/30 backdrop-blur-sm rounded-xl p-4 flex flex-col gap-3 hover:bg-white/25 transition-colors duration-200 my-12.5">
                <div class="flex gap-1 text-yellow-300">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div>
                    <p class="text-sm italic leading-relaxed">"SocialHub has completely changed how I connect with
                        friends and discover new communities. The experience is seamless!"</p>
                </div>
                <div class="flex items-center gap-3">
                    <img class="w-11 h-11 rounded-full object-cover" src="/imgi_1_alex-avatar-BLDJqiDr.png"
                        alt="Alex Johnson">
                    <div class="flex flex-col">
                        <cite class="not-italic font-semibold text-sm">Alex Johnson</cite>
                        <span class="text-xs text-gray-300">Product Designer</span>
                    </div>
                </div>
            </div>

        </section>

        <!-- ===== Register FORM SIDE ===== -->
        <section class="bg-gray-100  flex justify-center items-center px-6">
            <form [formGroup]="formRegister" (ngSubmit)="sginUp()"
                class="w-full max-w-md bg-white p-8 rounded-2xl shadow flex flex-col gap-5">

                <header class="text-center flex flex-col gap-1">
                    <h2 class="text-3xl font-bold">Register</h2>
                    <p class="text-sm text-gray-500">Don't have an account? <a routerLink="/login"
                            class="text-blue-400">Sign in</a></p>
                </header>

                <div class="flex items-center gap-3">
                    <button type="button"
                        class="flex-1 flex items-center justify-center gap-2 py-2 px-4 border border-gray-200 rounded-lg bg-white hover:scale-105 transition-transform duration-200 cursor-pointer text-sm font-medium">
                        <i class="fa-brands fa-google text-red-500"></i>
                        <span>Google</span>
                    </button>
                    <button type="button"
                        class="flex-1 flex items-center justify-center gap-2 py-2 px-4 border-none rounded-lg bg-blue-500 text-white hover:scale-105 transition-transform duration-200 cursor-pointer text-sm font-medium">
                        <i class="fa-brands fa-facebook-f"></i>
                        <span>Facebook</span>
                    </button>
                </div>

                <div class="relative text-center text-sm text-gray-400">
                    <span class="relative z-10 bg-white px-3">or continue with email</span>
                    <div class="absolute top-1/2 left-0 right-0 h-px bg-gray-200 -translate-y-1/2 z-0"></div>
                </div>

                <div class="flex flex-col gap-4">

                    <div id="fnam">
                        <div class="flex flex-col gap-1">
                            <label for="FullName" class="text-sm font-medium">Full Name</label>
                            <div class="relative">
                                <input type="text" id="FullName" formControlName="name" name="FullName"
                                    placeholder="Enter your full name"
                                    class="w-full pl-3 pr-4 py-2 border border-gray-200 rounded-lg text-sm outline-none focus:border-blue-400">
                            </div>
                        </div>
                        @if (formRegister.get('name')?.errors && formRegister.get('name')?.touched) {
                        <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (formRegister.get('name')?.getError('required')) {
                                    <li>Name is Requird</li>
                                    }
                                    @if (formRegister.get('name')?.getError('minlength')) {
                                    <li>At least 3 characters</li>
                                    }
                                    @if (formRegister.get('name')?.getError('maxlength')) {
                                    <li>Up tp 20 characters only</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                    </div>

                    <div id="unam">
                        <div class="flex flex-col gap-1">
                            <label for="username" class="text-sm font-medium">User Name</label>
                            <div class="relative">
                                <input type="text" id="username" formControlName="username" name="username"
                                    placeholder="Enter your User Name"
                                    class="w-full pl-3 pr-4 py-2 border border-gray-200 rounded-lg text-sm outline-none focus:border-blue-400">
                            </div>
                        </div>
                        @if (formRegister.get('username')?.errors && formRegister.get('username')?.touched) {
                        <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (formRegister.get('username')?.getError('required')) {
                                    <li>User Name is Requird</li>
                                    }
                                    @if (formRegister.get('username')?.getError('minlength')) {
                                    <li>At least 3 characters</li>
                                    }
                                    @if (formRegister.get('username')?.getError('maxlength')) {
                                    <li>Up tp 20 characters only</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                    </div>

                    <div id="email">
                        <div class="flex flex-col gap-1">
                            <label for="email" class="text-sm font-medium">Email Address</label>
                            <div class="relative">
                                <i
                                    class="fa-solid fa-envelope absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
                                <input type="email" id="email" formControlName="email" name="email"
                                    placeholder="name@example.com" value=""
                                    class="w-full pl-10 pr-4 py-2 border border-gray-200 rounded-lg text-sm outline-none focus:border-blue-400">
                            </div>
                        </div>
                        @if (formRegister.get('email')?.errors && formRegister.get('email')?.touched) {
                        <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (formRegister.get('email')?.getError('required')) {
                                    <li>Email is Requird</li>
                                    }
                                    @if (formRegister.get('email')?.getError('email')) {
                                    <li>Must be a valid email (ex:rimanadel4@gmail.com)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                    </div>

                    <div id="pass">
                        <div class="flex flex-col gap-1">
                            <label for="password" class="text-sm font-medium">Password</label>
                            <div class="relative">
                                <i
                                    class="fa-solid fa-lock absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
                                <input type="password" id="password" formControlName="password" name="password"
                                    placeholder="Create a strong password" value=""
                                    class="w-full pl-10 pr-4 py-2 border border-gray-200 rounded-lg text-sm outline-none focus:border-blue-400">
                            </div>
                        </div>
                        @if (formRegister.get('password')?.errors && formRegister.get('password')?.touched) {
                        <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">

                                    @if (formRegister.get('password')?.getError('required')) {
                                    <li>Password is Required</li>
                                    }
                                    @if (formRegister.get('dateOfBirth')?.getError('pattern')) {
                                    <li>At least 1 uppercase letter</li>
                                    <li>At least 1 lowercase letter</li>
                                    <li>At least 1 number</li>
                                    <li>At least 1 special character</li>
                                    <li>Minimum 8 characters</li>
                                    }

                                </ul>
                            </div>
                        </div>
                        }
                    </div>

                    <div id="repass">
                        <div class="flex flex-col gap-1">
                            <label for="ConfirmPassword" class="text-sm font-medium">Confirm Password</label>
                            <div class="relative">
                                <i
                                    class="fa-solid fa-lock absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
                                <input type="password" id="ConfirmPassword" formControlName="rePassword"
                                    name="ConfirmPassword" placeholder="Confirm  Password" value=""
                                    class="w-full pl-10 pr-4 py-2 border border-gray-200 rounded-lg text-sm outline-none focus:border-blue-400">
                            </div>
                        </div>
                        @if (formRegister.get('rePassword')?.touched && (
                        formRegister.get('rePassword')?.errors||formRegister.getError('mismatch'))) {
                        <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (formRegister.get('rePassword')?.getError('required')) {
                                    <li>Re-password is Requird</li>
                                    }
                                    @if (formRegister.getError('mismatch')) {
                                    <li>Re-password and password must match</li>
                                    }

                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="flex gap-3 items-center *:grow">
                        <div id="date">
                            <div>
                                <label for="dateOfBirth" class="text-sm mb-1">Date Of Birth</label>
                                <div class="relative">
                                    <i
                                        class="fa-solid fa-calendar text-gray-400 absolute left-3 top-1/2 -translate-y-1/2 z-10 pointer-events-none"></i>
                                    <input class="form-control pl-8 w-full" id="dateOfBirth"
                                        formControlName="dateOfBirth" type="date" value="" name="dateOfBirth">
                                </div>
                            </div>
                            @if (formRegister.get('dateOfBirth')?.errors && formRegister.get('dateOfBirth')?.touched) {
                            <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                                role="alert">
                                <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <span class="sr-only">Danger</span>
                                <div>
                                    <span class="font-medium">Ensure that these requirements are met:</span>
                                    <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                        @if (formRegister.get('dateOfBirth')?.getError('required')) {
                                        <li>Date Of Birth is Requird</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            }
                        </div>

                        <div id="gender">
                            <div>
                                <label for="Gender" class="text-sm mb-1">Gender</label>
                                <div class="relative">
                                    <i
                                        class="fa-solid fa-venus-mars text-gray-400 absolute left-3 top-1/2 -translate-y-1/2 z-10 pointer-events-none"></i>
                                    <select class="form-control py-2 pl-9" name="gender" id="gender"
                                        formControlName="gender">
                                        <option>Select your gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            @if (formRegister.get('gender')?.errors && formRegister.get('gender')?.touched) {
                            <div class="flex mt-2 p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
                                role="alert">
                                <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <span class="sr-only">Danger</span>
                                <div>
                                    <span class="font-medium">Ensure that these requirements are met:</span>
                                    <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                        @if (formRegister.get('gender')?.getError('required')) {
                                        <li>Gender is Requird</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            }
                        </div>

                    </div>


                    <div>
                        @if (errorMass) {
                        <div class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <p> {{errorMass}} </p>
                        </div>
                        }

                        @else if (successMass) {
                        <div class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft border border-success-subtle"
                            role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <p> {{successMass}} </p>
                        </div>
                        }

                    </div>

                </div>
                <button type="submit"
                    class=" disabled:cursor-not-allowed flex items-center justify-center gap-2 w-full py-3 bg-gradient-to-r from-blue-600 to-blue-400 border-none rounded-lg text-white font-bold text-sm cursor-pointer hover:opacity-90 transition-opacity duration-200">
                    Sign up
                    <i class="fa-solid fa-arrow-right"></i>
                    @if (isLoading) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
            </form>
        </section>

    </div>
</section>